NODE_ENV=dev
PORT=3001
SECRET=sekret
ADMIN_PASS=pass
TZ=America/Lima

DATABASE_HOST=localhost
DATABASE_PORT=5432
DATABASE_USER=postgres
DATABASE_PASS=postgres
DATABASE_NAME=db_name

MAIL_USER=user@gmail.com
MAIL_CLIENT_ID=client_id
MAIL_CLIENT_SECRET=client_secret
MAIL_REFRESH_TOKEN=refresh_token